Repository sentenza/hacktoberfest-scala-algorithms, pull requests merged in 2018-10, with the labels that each got.

#17 Feat: Abstract the CommonSorting trait
  src/main/scala/io/github/sentenza/hacktoberfest18/Main.scala
  src/main/scala/io/github/sentenza/hacktoberfest18/MenuIO.scala
  src/main/scala/io/github/sentenza/hacktoberfest18/algos/MutableSorting.scala
  src/main/scala/io/github/sentenza/hacktoberfest18/algos/Searching.scala
  src/main/scala/io/github/sentenza/hacktoberfest18/algos/Sorting.scala
  src/main/scala/io/github/sentenza/hacktoberfest18/package.scala
  src/test/scala/io/github/sentenza/hacktoberfest18/algos/MutableSortingSpec.scala
  src/test/scala/io/github/sentenza/hacktoberfest18/sort/.gitkeep
Labels: enhancement, hacktoberfest

#18 Feat: BucketSort
  .gitignore
  CONTRIBUTORS.md
  src/main/scala/io/github/sentenza/hacktoberfest18/algos/MutableSorting.scala
  src/main/scala/io/github/sentenza/hacktoberfest18/algos/Sorting.scala
  src/test/scala/io/github/sentenza/hacktoberfest18/algos/MutableSortingSpec.scala
Labels: hacktoberfest

#26 Rewrite the menu cli to avoid looping
  src/main/scala/io/github/sentenza/hacktoberfest18/Main.scala
  src/main/scala/io/github/sentenza/hacktoberfest18/MenuIO.scala
Labels: enhancement, hacktoberfest

#22 Added Quick Select Implementation
  CONTRIBUTORS.md
  src/main/scala/io/github/sentenza/hacktoberfest18/algos/ImmutableSelection.scala
  src/main/scala/io/github/sentenza/hacktoberfest18/algos/Selection.scala
  src/main/scala/io/github/sentenza/hacktoberfest18/util/ListUtil.scala
  src/test/scala/io/github/sentenza/hacktoberfest18/algos/ImmutableSelectionSpec.scala
Labels: enhancement, hacktoberfest

#29 Add Immutable Sorts, Immutable Bubble Sort Implementation
  src/main/scala/io/github/sentenza/hacktoberfest18/algos/ImmutableSorting.scala
  src/test/scala/io/github/sentenza/hacktoberfest18/algos/ImmutableSortingSpec.scala
Labels: enhancement, hacktoberfest

#33 Handle invalid input cases in the main io program
  src/main/scala/io/github/sentenza/hacktoberfest18/MenuIO.scala
Labels: enhancement, hacktoberfest

#27 Implemented Radix Sort
  src/main/scala/io/github/sentenza/hacktoberfest18/MenuIO.scala
  src/main/scala/io/github/sentenza/hacktoberfest18/algos/ImmutableSorting.scala
  src/main/scala/io/github/sentenza/hacktoberfest18/algos/MutableSorting.scala
  src/main/scala/io/github/sentenza/hacktoberfest18/algos/Sorting.scala
  src/test/scala/io/github/sentenza/hacktoberfest18/algos/MutableSortingSpec.scala
Labels: hacktoberfest, help wanted
